.login-popup{
    position:absolute;
    z-index: 1;
    width:100vw;
    height:100vh;
    display:flex;
    background-color: #00000090;
    justify-content: center;
    align-items:center;
}
.login-popup-container{
    position:absolute;
    width:max(23vw, 330px);
    
    color:#808080;
    background-color:white;
    display:flex;
    flex-direction:column;
    gap:25px;
    padding:30px;
    border-radius:8px;
    font-size:14px;
    animation:fadeIn 0.5s;

}
.login-popup-inputs{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:15px;
    position:relative;
}
.login-popup-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.login-popup-inputs input{
    padding:8px;
    border-radius:4px;
    border:1px solid #808080;
}
.login-popup-inputs button{
    position:relative;
    padding:10px 4px;
    border-radius:4px;
border:1px solid #808080;
cursor:pointer;
}
.login-popup-condition{
    display:flex;
    gap:5px;
}
.login-signup span{
    color: black;
    cursor:pointer;
}