.list-table-format{
    display:grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 0.5fr;
    align-items:center;
    gap:10px;
    padding:12px 15px;
    border:1px solid #cacaca;
    font-size:13px;
    justify-content:center;
    text-align: center;
}
.title{
    background-color:#f9f9f9;
    font-size:18px;
    text-align:center;
    
}
.list-table-format img{
    width:50px;
}
.list{
    height:70vh;
    display:flex;
    
}
.list-table{
    height:70vh;
    
    position:relative;
}
.list-table-container{
    overflow-y:auto;
    height:62.5vh;
    border-bottom:1px solid #cacacai;
}
.list-table-container::-webkit-scrollbar{
    display:none;
}
.header{
    font-size:25px;
    font-weight:18px;
    margin-bottom: 10px;
    border:1px solid blacki;
    text-align:center;
    
}
.list-table-format p{
    font-size:16px;
}

@media (max-width:600px){
    .list-table-format{
        grid-template-columns:1fr 3fr 1fr;
        gap:15px;
    }
    .title{
        display:none;
    }
}